[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pytest = "*"
pytest-sugar = "*"
django-environ = "*"
wiringpi = {version = "*",sys_platform = "== 'armv7l'"}
celery = "*"
flower = "*"
django-celery-beat = "*"

[requires]
python_version = "3.7"
