[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pytest = "*"
pytest-sugar = "*"
django-environ = "*"
wiringpi = {version = "*",sys_platform = "== 'armv7l'"}
django-celery-beat = "*"
jinja2 = "*"
coverage = "*"
selenium = "*"
pytest-django = "*"
pytest-cov = "*"
djangorestframework = "*"
requests = "*"
django-chroniker = "*"

[requires]
python_version = "3.6"
