<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('css/sprinkler.css') }}">

    <title>Sprinkler Controler ][</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ static('/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ static('/js/popper-1.14.7.min.js') }}"></script>
<script src="{{ static('/js/bootstrap.min.js') }}"></script>

{% block content %} {% endblock %}

</body>
</html>