{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="container">
            {%  for i in zones %}
            <div class="row bg-white rounded-lg m-2 zonebox rounded-3">
                <div class="col-2 text-center">
                    <div class="container text-black m-1 p-2">
                        <h3>Zone {{ i }}</h3>
                        <form>
                            <div class="form-group">
                                <label class="switch">
                                    <input onclick="switchClicked(this)" type="checkbox" id="zone{{ i }}" name="zone" value="{{ i }}">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="zone{{ i }}"
                     class="col-10 mt-1 mb-1 bg-dark text-light rounded-3 zone_text"></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        let running = "{{ running }}";
    </script>
    <script src="{{ static('/js/index.js') }}"></script>
{% endblock %}
