{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="container">
            {% for i in zones %}
                <div class="row bg-white rounded-lg m-2 rounded-3 zonebox">
                    <div class="col-2 text-center zone_ctl">
                        <div class="container text-black m-1 p-2">
                            <h3>Zone {{ i }}</h3>
                            <form>
                                <div class="form-group">
                                    <label class="switch">
                                        <input onclick="switchClicked(this)" type="checkbox" id="zone{{ i }}"
                                               name="zone" value="{{ i }}">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="zone_{{ i }}_text"
                         class="col-8 mt-1 mb-1 mr-1 bg-dark text-light rounded-3 zone_text">
                        <ul id="zone_{{ i }}_ul">
                        </ul>
                    </div>
                    <div id="zone_{{ i }}_weather"
                         class="col-2 mt-1 mb-1 rounded-3 text-center">
                        <p>Weather</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ static('/js/index.js') }}"></script>
    <script src="{{ static('/js/utils.js') }}"></script>
{% endblock %}
