{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="col-sm bg-white rounded-lg mr-5 mt-3 p-2 table-responsive zonebox">
        <a class="btn btn-primary m-1" href="/schedule" role="button">New</a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Zone</th>
                <th scope="col">Day of week</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
                <th scope="col">Active</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
                <tr class="clickable-row" data-url="schedule/{{ schedule.zone }}">
                    <td>{{ schedule.zone }}</td>
                    <td>{{ schedule.dow }}</td>
                    <td>{{ schedule.start }}</td>
                    <td>{{ schedule.end }}</td>
                    <td>{{ schedule.active }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data('url');
        });
    });
</script>

{% endblock %}
