{% extends "base.html" %}
{% block content %}
{#
<br />
<div class="bg-light text-dark rounded-lg">id = {{ id }}</div>
<br />
#}

<div class="container center-block" style="width: 540px;">
    <div class="bg-white rounded-3 m-3 p-3 zonebox">
        <form action="/schedule" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
                {{ form.dow.errors }}
                <label class="control-label" for="id_dow">Day of week</label>
                <input type="text" name="dow" maxlength="7" required id="id_dow"
                       placeholder="0-6" class="form-control input-md">
                <span class="help-block">Sun=0, Mon=1, Tue=2, Wed=3, Thu=4, Fri=5, Sat=6</span>
            </div>
            <div class="form-group">
                {{ form.start.errors }}
                <label class="control-label" for="id_start">Start time</label>
                <input type="time" name="start" required id="id_start" class="form-control input-md">
                <span class="help-block">12 hour with AM/PM</span>
            </div>
            <div class="form-group">
                {{ form.end.errors }}
                <label class="control-label" for="id_end">End time</label>
                <input type="time" name="end" required id="id_end" class="form-control input-md">
                <span class="help-block">12 hour with AM/PM</span>
            </div>
            <div class="form-group">
                {{ form.zone.errors }}
                <label class="control-label" for="id_zone">Zone</label>
                <select name="zone" id="id_zone" class="form-control input-md">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span class="help-block">Select Zone</span>
            </div>
            <div class="form-group">
                {{ form.active.errors }}
                <label class="control-label" for="id_active">Active</label>
                <div class="checkbox-inline">
                    <input type="checkbox" name="active" required id="id_active">
                </div>
            </div>
            <input class="button btn-primary" name="sub_type" type="submit" value="Save">
            <input class="button btn-primary" name="sub_type" type="submit" value="Delete">
            <input class="button btn-primary" name="zs_id" type="hidden" value="{{ id }}">
        </form>
    </div>
</div>

<script>
    let id = "{{ id }}";
    let dow = "{{ dow }}";
    let start = "{{ start }}";
    let end = "{{ end }}";
    let active = "{{ active }}";
    let run_once = "{{ run_once }}";
    let zone = "{{ zone }}";
</script>
<script src="{{ static('/js/schedule.js') }}"></script>
{% endblock %}
